<h2>查詢記錄 </h2>

<table class="table table-bpatented" id="patents">
  <thead>
    <tr>
      <th>No. </th>
      <th>申請號</th>
      <th>生成時間</th>
    </tr>
  </thead>
  <tbody>
    <% @patents.each_with_index do |patent, i| %>
    <tr>
       <td><%= i+1  %></td>
       <td><%= link_to(patent.apply_no, patent) %> </td>
       <td><%= patent.created_at %> </td>
      <td><%= link_to( "句子寫進資料庫", slice_sentence_patent_path(patent)) %> </td>
      <td><%= link_to( "切Json file" , json_tree_patent_path(patent) )  %> </td> 
    </tr>
    <% end %>

  </tbody>
</table>


