
<h1> this is the new lookup page </h1>
<% if @patent.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@patent.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @patent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div class="col-md-4"> </div>
  <div class="col-md-4">
 
    <%= form_for(@patent) do |f| %>
 
      <%= f.label :apply_no %>
      <%= f.text_field :apply_no %>

      <%= f.submit "Go to Find it !! ", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
   <div class="col-md-4"></div>
</div>